<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page POST HTML</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="./output.css">

</head>
<body>
<div class="p-8 max-w-2xl mx-auto">
  <h1 class="text-2xl font-semibold text-blue-900 mb-4 border-l-4 border-blue-600 pl-4">
    Home has been added Successfully <span class="text-blue-500 font-normal text-sm">FROM HTML</span>
  </h1>

  <h3 class="mt-6">
    <a href="/" class="text-blue-600 hover:text-blue-800 hover:underline flex items-center gap-1 font-medium"> Return Home
    </a>
  </h3>
</div>
</body>
</html>